div.element-container:nth-child(1) button  {
    color: rgb(246, 51, 102);
    border-radius: 5%;
    height: 5em;
    width: 10em;
    font-weight: bold;
    font-size: 1em;
    border-color: rgb(246, 51, 102);
}
